flask
flask-login
flask-mailman
flask-wtf
flask-sqlalchemy
flask-migrate
flask-debugtoolbar
bootstrap-flask
flask-moment
flask-ckeditor
email-validator
python-dotenv
# dev
pip-tools
watchdog
faker
flake8
# test
pytest
coverage
