{% extends 'base.html' %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'macros.html' import render_inline_form %}

{% block title %}Manage Posts{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Posts
    <small class="text-muted">{{ pagination.total }}</small>
    <span class="float-end">
      <a class="btn btn-primary btn-sm" href="{{ url_for('.new_post') }}">
        New Post
      </a>
    </span>
  </h1>
</div>
{% if posts %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Date</th>
      <th>Comments</th>
      <th>Words</th>
      <th>Actions</th>
    </tr>
  </thead>
  {% for post in posts %}
  <tr>
    <td>
      <a href="{{ url_for('blog.show_post', post_id=post.id) }}">
        {{ post.title }}
      </a>
    </td>
    <td>
      <a href="{{ url_for('blog.show_category', category_id=post.category.id) }}">
        {{ post.category.name }}
      </a>
    </td>
    <td>
      <small class="text-muted">Created at</small>
      <span class="dayjs" data-format="L">{{ post.created_at }}</span><br>
      <small class="text-muted">Updated at</small>
      <span class="dayjs" data-format="L">{{ post.updated_at }}</span>
    </td>
    <td>
      <a href="{{ url_for('blog.show_post', post_id=post.id) }}#comments">
      {{ post.comments|length }}
      </a>
    </td>
    <td>{{ post.body|striptags|length }}</td>
    <td>
      {{ render_inline_form(
        action=url_for('.set_comment', post_id=post.id, next=request.full_path),
        button_style='outline-warning' if post.can_comment else 'outline-success',
        button_text='Disable Comment' if post.can_comment else 'Enable Comment',
        confirm=None,
      ) }}
      <a class="btn btn-outline-info btn-sm"
          href="{{ url_for('.edit_post', post_id=post.id) }}">
        Edit
      </a>
      {{ render_inline_form(
        action=url_for('.delete_post', post_id=post.id, next=request.full_path),
        button_style='outline-danger',
        button_text='Delete',
      ) }}
    </td>
  </tr>
  {% endfor %}
</table>
<div class="page-footer">
  {{ render_pagination(pagination) }}
</div>
{% else %}
<div class="tip">
  <h5>No posts.</h5>
</div>
{% endif %}
{% endblock %}
